body{
    font-family: 'Lucida Grande', Verdana;
    margin: 0;
    padding: 0;
}

hgroup{
	color: #dbda74;
}

#gettingstarted{
	color: #ccc;
}

hgroup{
	position: relative;
}

hgroup h1{
	margin: 0.3em 0;
	font-family: Lobster, 'Lucida Grande', Verdana;
    font-size: 56px;
}

hgroup h4{
    position: absolute;
    top: 3px;
    width: 250px;
    left: 130px;
    font-size: 14px;
    font-style: italic;
}

@media screen and (max-width: 600px) {
	hgroup h4{
	    position: static;
	}
}

#forkme{
    position: absolute;
    top: 0;
    right: 0;
}

figure{
	margin: 1em 0 2em 0;
	position: relative;
	text-align: center;
	width: 48.2%;
}

figure h2{
	color: #bbb;
	font-family: Monaco, monospace, fixed;
	margin-bottom: 0;
}

figure h2.overlay{
	position: absolute;
	opacity: 0.2;
	margin: 0;
}

#driver h2.overlay{
	color: #fff;
}

figure img{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	max-width: 100%;
	min-width: 260px;
}

#console{
	margin-right: 20px;
}

@media screen and (max-width: 600px) {
	figure{
		width: 99.5%;
	}
	
	#console{
		margin-right: 0px;
	}
}

figcaption{
	font-style: italic;
	font-size: 90%;
}



@media screen and (max-width: 600px) {
	#console{
		margin-right: 0px;
	}
}

#console,
#driver{
	float: left;
	clear: none;
}

section,
aside,
hgroup{
	display: block;
}

section{
	clear: both;
}

#top{
    background-color: #333;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.25, rgb(79,79,79)),
        color-stop(0.63, rgb(61,61,61))
    )
    background: -moz-linear-gradient(
        center bottom,
        rgb(79,79,79) 25%,
        rgb(61,61,61) 63%
    );
    color: #f2f2f2;
    
    text-shadow: 0px 1px 2px #222;
    filter: dropshadow(color=#222, offx=0, offy=1);
}
#top a{
	color: #258df5;
	text-shadow: 0px 0px 1px #b1d4fa;
}
#top,
#bottom{
    padding: 2em 1em;
}
#top > *,
#bottom > *{
	max-width: 860px;
	margin: auto;
}
#bottom{
    padding-bottom: 3em;
	background-color: #ddd;
}

.button {
    text-shadow: 0px 1px 2px #bfbfbf;
    filter: dropshadow(color=#bfbfbf, offx=0, offy=1);
    border-top: 1px solid #8ce54d;
    background: #193813;
    background: -webkit-gradient(linear, left top, left bottom, from(#1da421), to(#193813));
    background: -moz-linear-gradient(top, #1da421, #193813);
    padding: 14px 28px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 24px;
    text-decoration: none;
    vertical-align: middle;
}
.button:hover {
    border-top-color: #327227;
    background: #193813;
    color: #ccc;
}
.button:active {
    border-top-color: #327227;
    background: #193813;
}

img{
    border: none;
}


